<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">{% block commoncss %}{% endblock %}

    <style>
    .navbar {
        min-height: 30px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .navbar.scrolled {
        background: rgb(40, 90, 100);        /* IE */
        background: rgba(40, 90, 100, 0.7);  /* NON-IE */
        /* height: 30px; */
    }

    </style>

    <!--[if lt IE 9]>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header class="navbar navbar-fixed-top fu-docs-nav" role="navigation">
        <div class="container">
            {% block header_block %}

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".fu-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Проект</a>
        </div>
        <nav class="collapse navbar-collapse fu-navbar-collapse" role="navigation" style="z-index: 1;">
            <ul class="nav navbar-nav">
               <li><a href="#"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="z-index: 999;">
                  <li class="dropdown" style="z-index: 999;">
                     {% if current_user.is_authenticated %}
                     <a href="/logout">{{ current_user.username }} - Выйти &rarr;</a>
                     {% else %}
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вход <b class="caret"></b></a>
                     {% endif %}
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row" style="z-index: 999;">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                       <label class="sr-only" for="input-login">Логин</label>
                                       <!-- <input type="text" class="form-control" id="input-login" placeholder="Логин" required> -->
                                       {{ form.username.label }}{{ form.username() }}
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="input-password">Пароль</label>
                                       <!-- <input type="password" class="form-control" id="input-password" placeholder="Пароль" required> -->
                                       {{ form.password.label }}{{ form.password() }}
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Войти &rarr;</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
            </ul>
        </nav>

            {% endblock %}
        </div>
    </header>

    {% block error_block %}
    {% endblock %}

    <div>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
    </div>

    {% block main_block %}{% endblock %}

    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
    {% block custom_scripts %}
    {% endblock %}
</body>
</html>
